.DS_Store
/arduino/esp32-arduino-lib-builder
arduino/arduino/arduino-esp32/
/arduino/arduino-esp32
/.dbg
debug-open-project-page-stuck.md
debug-capture-webcam-source.md
debug-packaged-webcam-bounce.md
debug-open-project-layout.md
_debug_frame_00010.png
/teaching source
/.vscode
/AIOT source
AIOT source.zip
arduino/esp32_mannual.zip
